@{
    ViewBag.Title = "Home Page";
}
<div>
    <h1 class="page-header">Dashboard</h1>

    <div class="row placeholders">
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-arrow-circle-down fa-5x img-responsive" aria-hidden="true"  width="200" height="200"  alt="Generic placeholder thumbnail"></i></a>
            <h4>WithDraw</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-info-circle fa-5x img-responsive" aria-hidden="true" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>BalanceInquiry</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
           <a href="#"> <i class="fa fa-bolt fa-5x img-responsive" aria-hidden="true" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Quck cash</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
           <a href="#"><i class="fa fa-exchange fa-5x img-responsive" aria-hidden="true" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Transfer Fund</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-arrow-circle-o-up   fa-5x img-responsive" aria-hidden="true" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Deposit</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-sticky-note fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Print Statement</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-mobile fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Mobile Banking</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-book fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Check Book</h4>
            <span class="text-muted">someThing else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-envelope fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Email</h4>
            <span class="text-muted">Something Else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-gift fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Collect Gifts</h4>
            <span class="text-muted">Something Else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-phone-square  fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Enquery</h4>
            <span class="text-muted">something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-camera-retro fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-camera-retro fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-camera-retro fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-camera-retro fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
        <div class="col-xs-6 col-sm-3 placeholder">
            <a href="#"><i class="fa fa-camera-retro fa-5x img-responsive" width="200" height="200" alt="Generic placeholder thumbnail"></i></a>
            <h4>Label</h4>
            <span class="text-muted">Something else</span>
        </div>
    </div>
</div>
